.hero {
  background-image: url(/images/unsplash_gioH4gHo0-g.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero__wrapper {
  h2 {
    padding: 285px 0 322px;
    color: #fff;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1.12px;
    max-width: 579px;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat, #ab0433;
  background-blend-mode: darken, normal;
  padding: 32px;
  background: #ff5252;
  h3 {
    color: var(--White, #fff);
    text-align: center;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 55.2px */
  }
  p {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 149%;
    margin: 4px 0 16px;
  }
  a {
    color: #fff;
    text-align: center;
    border-radius: 32px;
    background: #ff753a;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      color: #ff753a;
      background-color: #fff;
    }
  }
}
