@font-face {
    font-family: 'Merriweather';
    src: url('../webFonts/Merriweather-Italic.woff2') format('woff2'),
        url('../webFonts/Merriweather-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../webFonts/Merriweather-BoldItalic.woff2') format('woff2'),
        url('../webFonts/Merriweather-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../webFonts/Merriweather-BlackItalic.woff2') format('woff2'),
        url('../webFonts/Merriweather-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../webFonts/Merriweather-Italic.woff2') format('woff2'),
        url('../webFonts/Merriweather-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../webFonts/Merriweather-Light.woff2') format('woff2'),
        url('../webFonts/Merriweather-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../webFonts/Merriweather-Black.woff2') format('woff2'),
        url('../webFonts/Merriweather-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Varta';
    src: url('../webFonts/Varta-Bold.woff2') format('woff2'),
        url('../webFonts/Varta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Varta';
    src: url('../webFonts/Varta-SemiBold.woff2') format('woff2'),
        url('../webFonts/Varta-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../webFonts/Merriweather-LightItalic.woff2') format('woff2'),
        url('../webFonts/Merriweather-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../webFonts/Merriweather-Regular.woff2') format('woff2'),
        url('../webFonts/Merriweather-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Varta';
    src: url('../webFonts/Varta-Medium.woff2') format('woff2'),
        url('../webFonts/Varta-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Varta';
    src: url('../webFonts/Varta-Regular.woff2') format('woff2'),
        url('../webFonts/Varta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Varta';
    src: url('../webFonts/Varta-Light.woff2') format('woff2'),
        url('../webFonts/Varta-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

