.about {
  background: #8f0366;
}
.about__wrapper {
  display: flex;
  padding-top: 60px;
  overflow-x: scroll;
}
.about__list {
  list-style: none;
  display: flex;
  width: 65%;
  flex-wrap: wrap;
  padding-left: 70px;
  gap: 75px;
  padding-bottom: 50px;
}
.active {
  width: 35%;
  padding-top: 0;
  padding-left: 0;
}
.about__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 320px;
  border-radius: 10px;
  box-shadow: 5px 6px 25px;
}
.about__list-item img {
  padding-top: 20px;
}
.about__list-item h2 {
  color: #fff;
  -webkit-text-stroke-width: 0.20000000298023224;
  -webkit-text-stroke-color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  margin: 17px 0 33px;
}
.about__list-item p {
  color: #fff;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
