@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@400;500;600;700&family=Rochester&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.head {
  background: #8f0365;
}

.header {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 10px 0;
}

.header__content {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  margin-right: 115px;
}

.header__content span {
  color: #dbdbdb;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.language {
  color: #fff;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: bold;
}

.language2 {
  color: #fff;
  font-family: Montserrat;
  font-size: 25px;
  margin-left: 30px;
  font-weight: bold;
}

.header__list {
  margin-left: 90px;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  gap: 40px;
  display: flex;
}

.nav {
  background: #ffdcf5;
}

.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 50px 0;
}

.nav__list-item a {
  text-decoration: none;
  color: #000;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  transition: all 0.3s ease;
}
.nav__list-item a:hover {
  color: #d40597;
}

.nav__item a {
  text-decoration: none;
  color: #d40597;
  font-family: Rochester;
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero {
  background: #8f0366;
  background-image: url(/images/bg_hero_left.png), url(/images/bg_hero.png);
  background-repeat: no-repeat;
  background-size: contain, auto;
  background-position: 0, 50vw;
}

background-image {
  width: 200px;
}

.hero__wrapper {
  align-items: center;
  justify-content: space-between;
}

.hero__content {
  padding: 210px 0 230px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.hero__content h2 {
  color: #fff;
  -webkit-text-stroke-width: 0.200000003;
  -webkit-text-stroke-color: #fff;
  font-family: Montserrat;
  font-size: 95px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 674px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero__content h2 {
    font-size: 45px;
    align-items: center;
    width: 407px;
  }
}

.hero__content p {
  color: #fff;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 573px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero__content p {
    width: 520px;
  }
}

.hero__bg {
  position: relative;
}

.clients {
  background-image: url(/images/bg_clients.png), url(/images/bg_client.png);
  background-repeat: no-repeat;
  background-position: 50vw, left top;
  background-size: contain;
}

.clients__wrapper {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.clients__content h2 {
  max-width: 450px;
  font-size: 50px;
  text-align: center;
  font-weight: 400;
  margin-top: 120px;
}

.clients__content span {
  display: flex;
  color: #000;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 400px;
  margin: 50px 0 35px;
}

.clients__content p {
  color: #000;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 50px;
  max-width: 573px;
}

.btn__clients {
  text-decoration: none;
  color: #000;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.9px;
  padding: 10px 25px;
  border: 2px solid palevioletred;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.btn__clients:hover {
  background: palevioletred;
}

.about {
  background: #8f0366;
}

.about__wrapper {
  display: flex;
  padding-top: 60px;
  overflow-x: scroll;
}

.about__list {
  list-style: none;
  display: flex;
  width: 65%;
  flex-wrap: wrap;
  padding-left: 70px;
  gap: 75px;
  padding-bottom: 50px;
}

.active {
  width: 35%;
  padding-top: 0;
  padding-left: 0;
}

.about__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 320px;
  border-radius: 10px;
  box-shadow: 5px 6px 25px;
}

.about__list-item img {
  padding-top: 20px;
}

.about__list-item h2 {
  color: #fff;
  -webkit-text-stroke-width: 0.200000003;
  -webkit-text-stroke-color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  margin: 17px 0 33px;
}

.about__list-item p {
  color: #fff;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.process {
  background-image: url(/images/bg_process.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50vw;
}

.process__title {
  display: flex;
  justify-content: space-between;
  margin: 135px 0 160px;
}

.process__title img {
  width: 40%;
  box-shadow: 1px 1px 30px;
}

.process__content {
  margin-bottom: 25px;
}

.process__content h2 {
  width: 650px;
  color: #000;
  font-family: Montserrat;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.3px;
}

.process__content p {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.2px;
  width: 680px;
}/*# sourceMappingURL=main.css.map */